<!DOCTYPE html>
<html>
<head>
	<title>test01.html</title>
	<!-- download: http://jquery.com/download -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script>
	
	//jQuery.fn.serializeObject = function() {
	$.fn.serializeObject = function() {
		var obj = null;
		try {
			if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
				var arr = this.serializeArray();
				if (arr) {
					obj = {};
					jQuery.each(arr, function() {
						obj[this.name] = this.value;
					});
				}//if ( arr ) {
			}
		} catch (e) {
			alert(e.message);
		} finally {
		}
	
		return obj;
	};
	
	// script loader
	$(function() {
		// https://api.jquery.com/jquery.ajax/
		/*
			function showValues() {
				$("#text").text($("form").serialize());
			}
			$("input[type='text']").on("keydown", showValues);
			$("input[type='checkbox'], input[type='radio']").on("click", showValues);
			$("select").on("change", showValues);
		*/
		// success > complete > done > always
		// error > complete > fail > always
		$('#btnAction1').on('click', function(event){
			console.log('btnAction1');
			$.ajax({
				url: "/v0.1/rest/custs",
				method: "POST",
				contentType: "application/json; charset=utf-8",
				data: JSON.stringify({code: 'C003', val: '123'}),
				dataType: "json",
				beforeSend: function() {
					var obj1 = {};
					obj1.code = $('#in1').val();
					obj1.val = '123';
					this.data = JSON.stringify(obj1);
					console.log('beforeSend... data: ' + this.data);
				}
			})
			.done(function(json) {
				console.log('done.json: ' + JSON.stringify(json));
				$('#out1').val(JSON.stringify(json));
			})
			.fail(function(xhr, status, errorThrown) {
				alert('ERROR');
				console.log('fail.errmsg: ' + errorThrown)
				console.log('fail.status: ' + status)
			})
			.always(function(xhr, status) {
				console.log('always.status: ' + status)
			});
		});
		
		$('#btnAction2').on('click', function(event){
			console.log('btnAction2');
			$.ajax({
				url: "/v0.1/rest/prods",
				method: "POST",
				contentType: "application/json; charset=utf-8",
				data: JSON.stringify({code: 'P003', val: '123'}),
				dataType: "json",
				beforeSend: function() {
					var obj2 = {};
					obj2.code = $('#in2').val();
					obj2.val = '123';
					this.data = JSON.stringify(obj2);
					console.log('beforeSend... data: ' + this.data);
				}
			})
			.done(function(json) {
				console.log('done.json: ' + JSON.stringify(json));
				$('#out2').val(JSON.stringify(json));
			})
			.fail(function(xhr, status, errorThrown) {
				alert('ERROR');
				console.log('fail.errmsg: ' + errorThrown)
				console.log('fail.status: ' + status)
			})
			.always(function(xhr, status) {
				console.log('always.status: ' + status)
			});
		});
		
		$('#btnAction3').on('click', function(event){
			console.log('btnAction3');
			$.ajax({
				url: '/v0.1/rest/custprods',
				type: 'POST',
				contentType: 'application/json; charset=utf-8',
				data: JSON.stringify({prodCnt: 10, val: '한글'}),
				dataType: 'json',
				beforeSend: function() {
					var obj3 = {};
					obj3.prodCnt = $('#in3').val();
					obj3.val = '한글';
					this.data = JSON.stringify(obj3);
					console.log('beforeSend...: ' + this.data);
				},
				success: function(data) {
					console.log('success.data: ' + JSON.stringify(data));
					$('#out3').val(JSON.stringify(data, null, 2));
				},
				error: function(request, status, error) {
					console.log('error: ' + status + ': '
							+ request.status + ': '
							+ request.responseText + ': '
							+ error);
				},
				complete: function() {
					console.log('complete');
				}
			});
		});
		$('#btnAction4').on('click', function(event){
			console.log('btnAction4');
			console.log('>>> form1: ' + $("form").serialize());
			console.log('>>> form2: ' + $("form").serializeArray());
			console.log('>>> form3: ' + JSON.stringify($("form").serializeObject()));
		});
	});
	</script>
</head>
<body>
	<h1>Ajax: test01</h1>
	<input id='in1' type='text' value='C001'>
	<button id="btnAction1">action1(cust)</button>
	<input id='out1' type='text' value='' size=50>
	<br>
	<input id='in2' type='text' value='P001'>
	<button id="btnAction2">action2(prod)</button>
	<input id='out2' type='text' value='' size=50>
	<br>
	<input id='in3' type='text' value='7'>
	<button id="btnAction3">action3(custprods)</button>
	<!-- input id='out3' type='text' value='' size=50 -->
	<br>
	<textarea id="out3" rows="4" cols="50"></textarea>
	<br>
	<button id="btnAction4">action4</button>
	<br>
	<form>
		<input type="text" name="name1" value="val1"><br>
		<input type="text" name="name2" value="한글"><br>
		<input type="text" name="name3" value="val3"><br>
	</form>
</body>
</html>