<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tain.mybatis.mappers.CustProdMapper">

	<!-- select -->
	<select id="selectAll" parameterType="CamelMap" resultType="CamelMap">
		select
			id
			, cust_code
			, prod_code
			, prod_cnt
		from
			tbl_cust_prod
		where 1=1
		<if test='prodCnt != null'>
			and prod_cnt > #{prodCnt}
		</if>
	</select>

</mapper>